@import 'variables';
@import 'primeicons/primeicons.css';

// Utils
body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background;
  transition: 0.5s;
  font-family: $font;
  font-weight: 300;
  font-size: 14px;
}
button {
  cursor: pointer;
}
.icon {
  width: 30px;
  height: 30px;
}
.profile-picture {
  border-radius: 50%;
}
.loading {
  margin: 20px;
  p {
    font-size: 20px;
  }
}
